extends layout

block content
  div.max-w-md.mx-auto.bg-gray-900.rounded-xl.shadow-md.overflow-hidden.md_max-w-2xl.mt-4
    div.md_flex
      div.md_shrink-0
        p.w-full 
          div.p-4
            h1.tracking-wide.text-lg.text-indigo-300.font-semibold.mb-2 #{title}: #{department.name}
  

    if department_products.length

      p.px-4.text-sm.text-gray-500.font-semibold.mb-2 #[strong Delete the following products before attempting to delete this category.]

          ul.mb-2
            each product in department_products 
              li
              div.block.mt-2.px-4.text-sm.leading-tight.font-medium.text-white.hover_underline
                a(href=product.url) #{product.name}
            
    else 
      p.px-4.text-sm.text-gray-500.font-semibold.mb-2 Are you certain you want to delete the #{department.name} department?
      
      div.flex.items-center.w-full
       form(method='POST' action='')
        input#departmentid(type='hidden',name='departmentid', required='true', value=department._id )

        button.m-4.p-2.bg-rose-800.hover_bg-rose-900.text-white.rounded-md(type='submit') Delete